/* video display dont fuck with */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
    display: flex;
    justify-content: center;
    z-index: -3;
    background: black;
}

.myVideo {
  position: fixed;
  align-self: center center;
  z-index:-1;
  bottom: 0;
  top:0;
  min-width: 100%;
  min-height: 100%;
  display: cover;
}

.content {
  position: relative;
}







/*nav bar desktop */
a:hover {
  text-decoration: none;
}

a:active {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;

}




html, body {
margin:0;
padding:0
}


.red {
  background: red;
}

.displaynone {
  visibility: hidden;
}

.topboy {
  padding-top: 8vw;
}


.bold {
  font-weight: 600;
  font-size:19.5px;
}

/*desktop large text*/

.wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.0vw;
  padding-left: 12vw;
  text-align: left;
  padding-right:15vw;
  padding-bottom: 10vw;
}

.bigtext{
  font-size: 13vw;
  font-kerning: normal;
  font-family: helvetica;
  font-weight: bold;
  letter-spacing: -.023em;
  color: #eeeeee;
  line-height: 1;
}



.grey {
  background-color:red;
}
.black {
  color: black;
}
.white{
  color: white;
}


/*destop individual work page*/
.headerwork {
  padding-top: 0.6em;
  padding-left: 2.7em;
  padding-right: 2em;
  padding-bottom: 0.6em;
  width:100%;
  text-align: left;
  display: inline-grid;
  grid-template-columns: 2fr 1fr;
  background-color: black;
  color:white;
  position: fixed;
  font-family: helvetica;
  font-size:19.5px;
  z-index: 10;
}
#jonathan{
  transition: transform 200ms ease;
  color: #eeeeee;
  font-size:19.5px;
  letter-spacing: 0.1;
}
#jonathan:hover {
  transform: skewX(10deg);
}

#about{
  transition: transform  200ms ease;
  color:#eeeeee;
  font-size:19px;
  font-weight:  500;
}

#about:hover {
  transform: skewX(10deg);
}

.imagepaddding{
  padding-top: 40px;
}

.title {
  font-size: 5vw;
  font-kerning: normal;
  font-family: helvetica;
  font-weight: bold;
  letter-spacing: -.023em;
  color: black;
  line-height: 1.05;
}

.titletopboy {
  padding-top: 8vw;
}
.wrappergrid{
  display: inline-grid;
  grid-gap:1em;
  object-fit: scale-down;
  max-width: 100%;
  height:auto;
  background-size: cover;
  padding: 0em;
}
img {
  width: 100%;
  height: auto;
}
.wrappergrid > div{
  background: none;
  padding:0;
}
/* info slide-up*/

.info {
  background-color:black;
  padding-left: 6.5vw;
  font-size: 48px;
  font-kerning: normal;
  font-family: helvetica;
  font-weight:normal;
  font-style: oblique;
  letter-spacing: -.023em;
  color: white;
  line-height: 1.05;
  text-align: left;
  position: fixed;
  letter-spacing: 0.1;
}


div.purple {
  -moz-column-count:2;
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-gap:1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  padding: 8vw;
  background-color: white;
  color: black;
  font-family: helvetica;
  font-size: 30px;
  font-weight: bold;
  top:70px;
  position:fixed;
  width: 100vw;
  margin: 0px;
  line-height: 1.2;
  height: 100%;

}

/* div skew */

/*
#one{
  transform: rotateZ(5deg);
  transition: rotateZ(200ms);
}

#one:hover{
  transform: rotateZ(0deg);
}


#two{
  transform: rotateZ(5deg);
  transition: rotateZ(200ms);
}
#two:hover{
  transform: rotateZ(0deg);
}


#three{
  transform: rotateZ(-3deg);
transition: rotate(200ms);
}
#three:hover{
  transform: rotateZ(0deg);
}


#four{
  transform: rotateZ(5deg);
  transition: rotateZ(200ms);
}
#four:hover{
  transform: rotateZ(0deg);
}


#five{
  transform: rotateZ(-6deg);
  transition: rotateZ(200ms);
}
#five:hover{
  transform: rotateZ(0deg);
}


#six{
  transform: rotateZ(-3deg);
  transition: rotateZ(200ms);
}
#six:hover{
  transform: rotateZ(0deg);
}

*/

/*all the buttons! */




/* button for info */
button.info {
    bottom: 30px;
    left: 35px;
    position: fixed;
    color: white;
    border: none;
    padding: 0.1rem;
    margin: 0;
    font-size: 30px;
    text-decoration: none;
    font-family: helvetica;
    font-style: normal;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition:  transform 500ms ease;
    background: black;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    z-index: 2;
}


button.info:focus {
    outline: 0px solid #fff;
    outline-offset: -4px;
}

button.info:hover {
    color: black;
    background: white;
    transform: rotate(360deg);
}





.whiteback {
  background: white;
  color:black
}

button.contact {
    bottom: 30px;
    left: 300px;
    position: fixed;
    color: white;
    border: none;
    padding: 0.1rem;
    margin: 0;
    font-size: 30px;
    text-decoration: none;
    font-family: helvetica;
    font-style: normal;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition:  transform 500ms ease;
    background: black;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    z-index: 2;
}


button.contact:focus {
    outline: 0px solid #fff;
    outline-offset: -4px;
}

button.contact:hover {
    transform: rotate(360deg);
    background-color: white;
    color: black;
}

.mobilehidden {
  visibility: none;
  display: none;
}

.hidden {
  display: none;
}

.show {
  display: normal;
}




/* switch to mobile */

@media(max-width: 900px) {
/*nav bar mobile */

.displaynone {
  visibility: hidden;
}

/*mobile large text*/
  .bigtext{
    font-size: 18vw;
    letter-spacing: -.015em;
    font-kerning: normal;
    line-height: 1.1;
  }
  .wrapper{
    padding-left: 6.5vw;
    padding-bottom: 15vw;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0vw;
  }

  .wrappergrid{
    display: grid;
    grid-gap:1em;
    grid-template-columns: 1fr;
    object-fit: scale-down;
    max-width: 100%;
    height:auto;
    background-size: cover;
    padding: 0em;
  }
  .titletopboy {
    padding-top: 24vw;
  }

  /* mobile info */

  div.purple {
    -moz-column-count:1;
    -webkit-column-count: 1;
    column-count:1;
    -moz-column-gap:1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;

    padding: 8vw;
    padding-top: 17vw;
    background-color: white;
    color: black;
    font-family: helvetica;
    font-size: 20px;
    font-weight: bold;
    position:fixed;
    width: 100vw;
    margin: 0px;
    line-height: 1.2;
    height: 100%;
    top:0;

  }
  button.info {
      bottom: 25px;
      left: 35px;
      font-size: 25px;
      height: 130px;
      width: 130px;
  }

  button.contact {
    bottom: 25px;
    left: 220px;
    font-size: 25px;
    height: 130px;
    width: 130px;
    cursor: url(plus.png), auto;
}


  .headerwork {
    font-size:16px;
    padding-left:7vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    position: fixed;
    background: none;


  }

  #jonathan{
    transition: transform 200ms ease;
    color: white;
    font-size: 16px;
    letter-spacing: 0.1;
  }
  #jonathan:hover {
    transform: skewX(10deg);
  }

  #about{
    transition: transform  200ms ease;
    color:white;
    font-size:16px;
    font-weight: 500;
  }

  #about:hover {
    transform: skewX(10deg);
  }

  .bold {
    font-weight: 600;
    font-size:16px;
  }

  .mobilehidden {
    visibility: normal;
    display: normal;
  }

  button.info:hover {
      color: white;
      background: black;
      transform: none;
  }

  button.info:active {
      color: black;
      background: white;
      transform: rotate(360deg);
  }

  button.contact:hover {
      transform: none;
      background-color: black;
      color: white;
  }

  button.contact:active {
    color: black;
    background: white;
    transform: rotate(360deg);
  }
